<div style="display: flex;margin-top: 80px;">
    <div style="flex:1">
        <input type="text" nz-input [(ngModel)]="cardNo" placeholder="会员卡号" style="padding-left:20px;">
    </div>
    <div style="flex:1">
        <nz-range-picker [(ngModel)]="dateRange" placeholder="日期区间" nzShowTime style="padding-left:20px;"></nz-range-picker>
    </div>
    <div style="flex:1">
        <nz-select style="width: 120px;padding-left:20px;" [(ngModel)]="selectedOrderType" nzAllowClear nzPlaceHolder="订单类型">
            <nz-option [nzValue]="orderType.value" [nzLabel]="orderType.label" *ngFor="let orderType of OrderTypeOptions"></nz-option>
        </nz-select>
    </div>
    <div style="flex:1">
    </div>
    <div style="flex:1;text-align: right">
        <button nz-button nzType="primary" (click)="query(0)"> 查询</button>
    </div>
</div>