<!--树 创建模板 -->
<ng-container *ngIf="ModeEnum.Create==mode">
    <nz-form-item>
        <nz-form-label style="margin-right: 49px" [nzRequired]="field.valid.required" [nzXs]="24" [nzSm]="4">{{field.alias || field.fieldName}}</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="16" [nzValidateStatus]="validStatus">
            <nz-tree nzCheckable="true" nzMultiple="true" (nzClick)="check($event)" [(ngModel)]="nodes" [nzShowLine]="false" (nzCheckBoxChange)="checkMany($event)"></nz-tree>
            <nz-form-explain>{{errMsg}}</nz-form-explain>
        </nz-form-control>
    </nz-form-item>
</ng-container>
<ng-container *ngIf="mode==ModeEnum.Update">
    <nz-form-item>
        <nz-form-label [nzXs]="24 " [nzSm]="4 ">{{field.alias || field.fieldName}}</nz-form-label>
        <nz-form-control [nzXs]="24 " [nzSm]="20 ">
            <nz-tree nzCheckable="true" nzMultiple="true" (nzClick)="check($event)" [(ngModel)]="nodes" [nzShowLine]="false" (nzCheckBoxChange)="checkMany($event)"></nz-tree>
        </nz-form-control>
    </nz-form-item>
</ng-container>
<ng-container *ngIf="mode==ModeEnum.Show">
    <nz-tree nzCheckable="false" nzMultiple="true" (nzClick)="check($event)" [(ngModel)]="nodes" [nzShowLine]="false" (nzCheckBoxChange)="checkMany($event)"></nz-tree>
</ng-container>
<ng-container *ngIf="mode==ModeEnum.Query">
    <nz-tree-select (nzTreeClick)="select($event)" [(ngModel)]="value" nzShowSearch [nzNodes]="nodes" [nzShowLine]="!metaField.config.many"></nz-tree-select>
</ng-container>
<ng-container *ngIf="mode==ModeEnum.MainShow">
    <nz-tree nzCheckable="true" nzMultiple="true" (nzClick)="check($event)" [(ngModel)]="nodes" [nzShowLine]="false" (nzCheckBoxChange)="checkMany($event)"></nz-tree>
</ng-container>