<ng-container *ngIf="mode==ModeEnum.Show">
    <span style="display:inline-block;width:40px;text-align: right"> 
            {{value}}
        </span>
</ng-container>
<ng-container *ngIf="mode==ModeEnum.Create">
    <nz-form-item>
        <nz-form-label style="margin-right: 49px;" [nzRequired]="field.valid.required" [nzXs]="24" [nzSm]="4">{{field.alias || field.fieldName}}</nz-form-label>
        <nz-form-control [nzXs]="24" [nzSm]="16" [nzValidateStatus]="validStatus" nzHasFeedback>
            <nz-input-number [disabled]="field.readonly" [nzFormatter]="formatter" [nzParser]="parser" [(ngModel)]="value" [nzStep]="1"></nz-input-number>
            <nz-form-explain>{{errMsg}}</nz-form-explain>
        </nz-form-control>
    </nz-form-item>
</ng-container>