<ng-container *ngIf="mode==ModeEnum.Show">
    {{value}}
</ng-container>
<ng-container *ngIf="mode==ModeEnum.Create">
    <nz-form-item>
        <nz-form-label [nzRequired]="field.valid.required" [nzXs]="24 " [nzSm]="4 ">{{field.alias || field.fieldName}}</nz-form-label>
        <nz-form-control [nzXs]="24 " [nzSm]="20 " [nzValidateStatus]="validStatus" nzHasFeedback>
            <input type="password" style="width:60%;" nz-input placeholder="" [(ngModel)]="value">

            <nz-form-explain>{{errMsg}}</nz-form-explain>
        </nz-form-control>
    </nz-form-item>
</ng-container>